:root{
    --redPrimary: hsl(0, 100%, 74%);
    --redSecondary: hsla(0, 50%, 60%, 0.7);
    --greenPrimary: hsl(154, 59%, 51%);
    --greenSecondary: hsl(154, 59%, 45%);
    --greenHover: hsl(154, 59%, 65%);
    --blueAccent: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}
$red-p: var(--redPrimary);
$red-s: var(--redSecondary);
$green-p: var(--greenPrimary);
$green-s: var(--greenSecondary);
$green-h: var(--greenHover);
$blue-a: var(--blueAccent);
$gray-blue: var(--grayishBlue);
